apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: web
  namespace: ecommerce
spec:
  rules:
    - host: shop.dingwenhuang.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: web
                port:
                  number: 80
