apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: ecommerce
type: Opaque
stringData:
  POSTGRES_DB: ecommerce
  POSTGRES_USER: ecommerce_user
  POSTGRES_PASSWORD: ecommerce_pass
